<!DOCTYPE html>
<html>
  <head>
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">

  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>