
<% unless @player1 %>
  <p>Enter your names, player 1 and player 2:</p>
  <form action="/new_game" method="post" >
    <input type="text" name ="name">
    <input type="text" name ="name2">
    <input type="submit" value="submit">
  </form>
<% else %>
  <p> Welcome <%= @player1 %></p>
  <p> Welcome <%= @player2 %></p>
  p1 = Player.new(@player1)
  p2 = Player.new(@player2)


<% end %>
