
<% unless @visitor %>
  <p>What are your names, player 1 and player 2?</p>
  <form action="/new_game" method="post" >
    <input type="text" name ="name">
    <input type="text" name ="name2">
    <input type="submit" value="submit">
  </form>
<% else %>
  <p> Welcome <%= @visitor %></p>

  <p> Welcome <%= session[:name] %></p>

<% end %>
